<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <th>{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.address.geo.lat }}</td>
            <td>{{ user.address.geo.lng }}</td>
            <td><a routerLink="/users/{{ user.id }}">Ver</a></td>
        </tr>
    </tbody>
</table>